[submodule "argocd-prod"]
	path = argocd-prod
	url = https://github.com/swipentap/prod.git
[submodule "charts-repo"]
	path = charts-repo
	url = https://github.com/swipentap/charts.git
[submodule "SiNS"]
	path = SiNS
	url = https://github.com/swipentap/SiNS.git
